/* rubriques réglementaires */
/* ajouter <img class=rr /> dans l'interface utilisateur pour faire apparaître l'icône */
img.rr {
    width:96px;
    height:12px;
    border:none;
    padding:0;
    margin:0;
    display:inline-block;
    overflow:hidden;
    background-image: url('rr.png');
    background-repeat: no-repeat;
    text-indent: 96px;
}

table#registre_biens_affectes {
    margin-top:40px;
}
#searchRefineBox span {
    float: left;
    width: 260px;
    padding-bottom: 8px;
    border-bottom: 2px solid #ddd;
    margin-right: 10px;
    text-decoration: none;
    font-weight: normal;
    color: #333;
    margin-bottom: 8px;
}

.inventaire-object-display table {width:100%;}
.inventaire-object-display td.photo {vertical-align: top;text-align: right;font-size: 10px;width:320px;}
.inventaire-object-display td.label {background:#f0f0f0;color:#555555;font-size: 10px;width:420px;text-align:right;text-transform:lowercase;padding:1pt 3pt 1pt 3pt;}
.inventaire-object-display td.content {font-size: 12px;width:100%; }
.inventaire-object-display td.content b {font-size: 12px;font-weight: bold;}